<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="WARN"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.dbunit">
        <level value="WARN"/>
    </logger>

    <logger name="com.ibatis" additivity="true">
        <level value="DEBUG"/>
    </logger>

    <logger name="java.sql.Connection" additivity="true">
        <level value="DEBUG"/>
    </logger>

    <logger name="java.sql.Statement" additivity="true">
        <level value="DEBUG"/>
    </logger>

    <logger name="java.sql.PreparedStatement" additivity="true">
        <level value="DEBUG"/>
    </logger>

    <logger name="java.sql.ResultSet" additivity="true">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <!--<logger name="net.easipay.pnp">-->
    <!--<level value="DEBUG"/>-->
    <!--</logger>-->

    <!--<logger name="net.easipay.pnp.tool">-->
    <!--<level value="INFO"/>-->
    <!--</logger>-->

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
