<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    <typeHandlers>
        <typeHandler javaType="tk.springboot.simple.model.enums.Status"
                     handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <typeHandler javaType="tk.springboot.simple.model.enums.PermissionType"
                     handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <typeHandler javaType="tk.springboot.simple.model.enums.UploadType"
                     handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </typeHandlers>
</configuration>